<!DOCTYPE html>
<html>
<head>
  <title>Lab5</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link href='https://fonts.googleapis.com/css?family=Bangers' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<header>

  <nav>
    <%= link_to root_path do %>
    <i class="fa fa-home fa-4x" ></i>
    <%end%>
  </nav>

</header>
<body>

  <div class="big_container">


<%= yield %>
  </div>



</body>
</html>
